
.container {
    display: flex;
    align-items: center;
}

.box1 {
    border: 1px solid black;
    flex: 1;
}
.box2 {
    border: 1px solid black;
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
.box3 {
    border: 1px solid black;
    flex: 1;
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
}
.box4 {
    border: 1px solid black;
    width: 100px;
}
.box5 {
    border: 1px solid black;
    width: 100px;
}
.box6 {
    border: 1px solid black;
}
.box7 {
    border: 1px solid black;
    flex-grow: 1;
}
